[submodule "build-infra"]
	path = build-infra
	url = git@github.com:Metaswitch/clearwater-build-infra.git
[submodule "modules/rapidjson"]
	path = modules/rapidjson
	url = git@github.com:zvelo/rapidjson.git
[submodule "modules/libevhtp"]
	path = modules/libevhtp
	url = git@github.com:Metaswitch/libevhtp.git
[submodule "modules/freeDiameter"]
	path = modules/freeDiameter
	url = git@github.com:Metaswitch/freeDiameter.git
[submodule "modules/cpp-common"]
	path = modules/cpp-common
	url = git@github.com:Metaswitch/cpp-common.git
[submodule "modules/libmemcached"]
	path = modules/libmemcached
	url = git@github.com:Metaswitch/libmemcached-upstream.git
[submodule "modules/libevent"]
	path = modules/libevent
	url = git@github.com:libevent/libevent.git
[submodule "modules/gmock"]
	path = modules/gmock
	url = git@github.com:Metaswitch/gmock-upstream.git
[submodule "modules/sas-client"]
	path = modules/sas-client
	url = https://github.com/Metaswitch/sas-client.git
[submodule "modules/jsoncpp-upstream"]
	path = modules/jsoncpp-upstream
	url = https://github.com/Metaswitch/jsoncpp-upstream
[submodule "modules/jsoncpp"]
	path = modules/jsoncpp
	url = https://github.com/Metaswitch/jsoncpp-upstream
