Source: ralf
Section: network
Priority: optional
# This field must stay as 'Project Clearwater Maintainers', as
# clearwater-infrastructure explicitly checks for packages of this name when
# updating
Maintainer: Project Clearwater Maintainers <maintainers@projectclearwater.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://projectclearwater.org/

Package: ralf-node
Architecture: any
Depends: ralf (= ${binary:Version}), clearwater-memcached, chronos, astaire
Description: ralf-node, the Clearwater CTF node

Package: ralf-node-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ralf-node (= ${binary:Version})
Recommends: ralf-dbg, chronos-dbg
Description: Debugging symbols for ralf-node, the Clearwater CTF node

Package: ralf
Architecture: any
# Ralf has a dependency on gnutls-bin because it uses the generic_create_diameterconf script in clearwater-infrastructure - we don't want to make this a clearwater-infrastructure dependency as that will pull it in unnecessarily on sprout/bono/homer.
Depends: clearwater-infrastructure, clearwater-tcp-scalability, clearwater-log-cleanup, ralf-libs, libsctp1, libboost-regex1.54.0, libzmq3, gnutls-bin, clearwater-socket-factory, libboost-filesystem1.54.0, libsnmp30 (>= 5.7.2~dfsg-clearwater7), clearwater-monit, libcurl3
Suggests: ralf-dbg, clearwater-snmp-alarm-agent
Description: ralf, the Clearwater CTF

Package: ralf-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ralf (= ${binary:Version}), ralf-libs-dbg (= ${binary:Version}), gdb
Description: Debugging symbols for ralf

Package: ralf-libs
Architecture: any
Depends: libevent-2.0-5, libevent-pthreads-2.0-5
Description: Libraries for ralf, the Clearwater CTF

Package: ralf-libs-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ralf-libs (= ${binary:Version}), gdb
Description: Debugging symbols for ralf's libraries
